# Pandas 데이터 프레임 훈련

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.genfromtxt('data/example_data.csv', delimiter=';', names=True, dtype=None, encoding='UTF')
data

array([('2018-10-13 11:10:23.560', '262km NW of Ozernovskiy, Russia', 'mww', 6.7, 'green', 1),
       ('2018-10-13 04:34:15.580', '25km E of Bitung, Indonesia', 'mww', 5.2, 'green', 0),
       ('2018-10-13 00:13:46.220', '42km WNW of Sola, Vanuatu', 'mww', 5.7, 'green', 0),
       ('2018-10-12 21:09:49.240', '13km E of Nueva Concepcion, Guatemala', 'mww', 5.7, 'green', 0),
       ('2018-10-12 02:52:03.620', '128km SE of Kimbe, Papua New Guinea', 'mww', 5.6, 'green', 1)],
      dtype=[('time', '<U23'), ('place', '<U37'), ('magType', '<U3'), ('mag', '<f8'), ('alert', '<U5'), ('tsunami', '<i4')])

## Series 활용

* pandas.Series class는 NumPy 배열과 같은 1차원 배열에 대한 데이터 구조 제공

In [3]:
data['place']

array(['262km NW of Ozernovskiy, Russia', '25km E of Bitung, Indonesia',
       '42km WNW of Sola, Vanuatu',
       '13km E of Nueva Concepcion, Guatemala',
       '128km SE of Kimbe, Papua New Guinea'], dtype='<U37')

In [4]:
place = pd.Series(data['place'], name='place')
place

0          262km NW of Ozernovskiy, Russia
1              25km E of Bitung, Indonesia
2                42km WNW of Sola, Vanuatu
3    13km E of Nueva Concepcion, Guatemala
4      128km SE of Kimbe, Papua New Guinea
Name: place, dtype: object

## Index 활용

* Index 클래스는 행 레이블 제공하여 행 선택 가능

In [5]:
place_index = place.index
place_index

RangeIndex(start=0, stop=5, step=1)

In [6]:
pd.Series(np.linspace(0, 10, num=5))

0     0.0
1     2.5
2     5.0
3     7.5
4    10.0
dtype: float64

In [7]:
pd.Series(np.linspace(0, 10, num=5), index=pd.Index([1, 2, 3, 4, 5]))

1     0.0
2     2.5
3     5.0
4     7.5
5    10.0
dtype: float64

In [8]:
pd.Series(np.linspace(0, 10, num=5)) + pd.Series(np.linspace(0, 10, num=5), index=pd.Index([1, 2, 3, 4, 5]))

0     NaN
1     2.5
2     7.5
3    12.5
4    17.5
5     NaN
dtype: float64

## DataFrame 활용

* pandas.DataFrame은 2차원 배열 데이터 구조 제공

In [9]:
df = pd.DataFrame(data)
df

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1
1,2018-10-13 04:34:15.580,"25km E of Bitung, Indonesia",mww,5.2,green,0
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0
3,2018-10-12 21:09:49.240,"13km E of Nueva Concepcion, Guatemala",mww,5.7,green,0
4,2018-10-12 02:52:03.620,"128km SE of Kimbe, Papua New Guinea",mww,5.6,green,1

In [10]:
df.dtypes

time        object
place       object
magType     object
mag        float64
alert       object
tsunami      int32
dtype: object

In [11]:
df.columns

Index(['time', 'place', 'magType', 'mag', 'alert', 'tsunami'], dtype='object')

__CSV 파일로 DataFrame 만들기__

In [12]:
df1 = pd.read_csv('data/earthquakes.csv')
df1.head()

# csv로 내보내는 방법
# df.to_csv('df1.csv', index=False)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...

__DB(SQL Lite)로 DataFrame 만들기__

In [ ]:
# 방법1
import sqlite3

with sqlite3.connect('data/quakes.db') as connection:
    pd.read_csv('data/tsunamis.csv').to_sql('tsunamis', connection, index=False, if_exists='replace')
    
tsunamis.head()

In [ ]:
# 방법1
import sqlite3

with sqlite3.connect('data/quakes.db') as connection:
    tsunamis = pd.read_sql('SELECT * FROM tsunamis', connection)
    
tsunamis.head()

## DataFrame 활용 - 데이터 선택

* 특정 row나 column 선택
* 특정 기준 충족하는 row나 column 선택

__Selection__

In [13]:
df.mag

0    6.7
1    5.2
2    5.7
3    5.7
4    5.6
Name: mag, dtype: float64

In [14]:
df['mag']

0    6.7
1    5.2
2    5.7
3    5.7
4    5.6
Name: mag, dtype: float64

In [15]:
df[['mag', 'time']]

   mag                     time
0  6.7  2018-10-13 11:10:23.560
1  5.2  2018-10-13 04:34:15.580
2  5.7  2018-10-13 00:13:46.220
3  5.7  2018-10-12 21:09:49.240
4  5.6  2018-10-12 02:52:03.620

In [16]:
[col for col in df.columns if col.startswith('mag')]

['magType', 'mag']

In [17]:
['time', 'place'] + [col for col in df.columns if col.startswith('mag')]

['time', 'place', 'magType', 'mag']

In [18]:
df[['time', 'place'] + [col for col in df.columns if col.startswith('mag')]]

                      time                                  place magType  mag
0  2018-10-13 11:10:23.560        262km NW of Ozernovskiy, Russia     mww  6.7
1  2018-10-13 04:34:15.580            25km E of Bitung, Indonesia     mww  5.2
2  2018-10-13 00:13:46.220              42km WNW of Sola, Vanuatu     mww  5.7
3  2018-10-12 21:09:49.240  13km E of Nueva Concepcion, Guatemala     mww  5.7
4  2018-10-12 02:52:03.620    128km SE of Kimbe, Papua New Guinea     mww  5.6

__Slicing__

In [19]:
df[1:3]

,time,place,magType,mag,alert,tsunami
1,2018-10-13 04:34:15.580,"25km E of Bitung, Indonesia",mww,5.2,green,0
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0

In [20]:
df[['time', 'mag']][1:3]

                      time  mag
1  2018-10-13 04:34:15.580  5.2
2  2018-10-13 00:13:46.220  5.7

In [21]:
df[1:3][['time', 'mag']].equals(df[['time', 'mag']][1:3])

True

__Indexing__

In [22]:
df[1:3]['time']

1    2018-10-13 04:34:15.580
2    2018-10-13 00:13:46.220
Name: time, dtype: object

In [23]:
df.loc[:, 'time']

0    2018-10-13 11:10:23.560
1    2018-10-13 04:34:15.580
2    2018-10-13 00:13:46.220
3    2018-10-12 21:09:49.240
4    2018-10-12 02:52:03.620
Name: time, dtype: object

In [24]:
df.loc[1:5, ['time', 'place']]

                      time                                  place
1  2018-10-13 04:34:15.580            25km E of Bitung, Indonesia
2  2018-10-13 00:13:46.220              42km WNW of Sola, Vanuatu
3  2018-10-12 21:09:49.240  13km E of Nueva Concepcion, Guatemala
4  2018-10-12 02:52:03.620    128km SE of Kimbe, Papua New Guinea

In [25]:
df.iloc[1:5, 0:2]   # index 1~4, column 0~1

                      time                                  place
1  2018-10-13 04:34:15.580            25km E of Bitung, Indonesia
2  2018-10-13 00:13:46.220              42km WNW of Sola, Vanuatu
3  2018-10-12 21:09:49.240  13km E of Nueva Concepcion, Guatemala
4  2018-10-12 02:52:03.620    128km SE of Kimbe, Papua New Guinea

In [26]:
df

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1
1,2018-10-13 04:34:15.580,"25km E of Bitung, Indonesia",mww,5.2,green,0
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0
3,2018-10-12 21:09:49.240,"13km E of Nueva Concepcion, Guatemala",mww,5.7,green,0
4,2018-10-12 02:52:03.620,"128km SE of Kimbe, Papua New Guinea",mww,5.6,green,1

In [27]:
df.at[4, 'mag']   # index 4의 mag 값인 5.6

5.6

In [28]:
df.iat[4, 3]    # index 4의 column 3 값인 5.6

5.6

__Filtering__

In [29]:
df.mag > 5.6

0     True
1    False
2     True
3     True
4    False
Name: mag, dtype: bool

In [30]:
df[df.mag > 5.6]

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0
3,2018-10-12 21:09:49.240,"13km E of Nueva Concepcion, Guatemala",mww,5.7,green,0

In [31]:
df.loc[df.mag > 5.6, ['time', 'place']]

                      time                                  place
0  2018-10-13 11:10:23.560        262km NW of Ozernovskiy, Russia
2  2018-10-13 00:13:46.220              42km WNW of Sola, Vanuatu
3  2018-10-12 21:09:49.240  13km E of Nueva Concepcion, Guatemala

In [32]:
df.loc[(df.tsunami == 1) & (df.mag > 5.5), ['time', 'place']]

                      time                                place
0  2018-10-13 11:10:23.560      262km NW of Ozernovskiy, Russia
4  2018-10-12 02:52:03.620  128km SE of Kimbe, Papua New Guinea

In [33]:
df.loc[(df.tsunami == 1) | (df.mag > 5.5), ['time', 'place']]

                      time                                  place
0  2018-10-13 11:10:23.560        262km NW of Ozernovskiy, Russia
2  2018-10-13 00:13:46.220              42km WNW of Sola, Vanuatu
3  2018-10-12 21:09:49.240  13km E of Nueva Concepcion, Guatemala
4  2018-10-12 02:52:03.620    128km SE of Kimbe, Papua New Guinea